<a href="https://colab.research.google.com/github/TomasOtano25/python-basic/blob/main/11_3_Operaciones_con_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11.3 Operaciones con DataFrames

In [1]:
import numpy as np
import pandas as pd

In [24]:
d = [np.random.randint(50, size=(10))]
d

[array([ 0, 49, 44,  0,  4, 40, 24, 16, 32, 28])]

In [4]:
df = pd.DataFrame(d)
df

   0   1   2   3   4  5   6   7   8   9
0  4  26  26  38  48  8  19  16  30  49

In [25]:
df = pd.DataFrame(d).T
df

    0
0   0
1  49
2  44
3   0
4   4
5  40
6  24
7  16
8  32
9  28

## Añadir una nueva columna

In [26]:
df['nueva_col'] = 5
df

    0  nueva_col
0   0          5
1  49          5
2  44          5
3   0          5
4   4          5
5  40          5
6  24          5
7  16          5
8  32          5
9  28          5

In [27]:
df['experiencia'] = 5
df

    0  nueva_col  experiencia
0   0          5            5
1  49          5            5
2  44          5            5
3   0          5            5
4   4          5            5
5  40          5            5
6  24          5            5
7  16          5            5
8  32          5            5
9  28          5            5

In [28]:
df['perdidas'] = [(i+2)*np.e for i in range(10)]
df

    0  nueva_col  experiencia   perdidas
0   0          5            5   5.436564
1  49          5            5   8.154845
2  44          5            5  10.873127
3   0          5            5  13.591409
4   4          5            5  16.309691
5  40          5            5  19.027973
6  24          5            5  21.746255
7  16          5            5  24.464536
8  32          5            5  27.182818
9  28          5            5  29.901100

In [29]:
df['columna'] = df['perdidas']*100
df

    0  nueva_col  experiencia   perdidas      columna
0   0          5            5   5.436564   543.656366
1  49          5            5   8.154845   815.484549
2  44          5            5  10.873127  1087.312731
3   0          5            5  13.591409  1359.140914
4   4          5            5  16.309691  1630.969097
5  40          5            5  19.027973  1902.797280
6  24          5            5  21.746255  2174.625463
7  16          5            5  24.464536  2446.453646
8  32          5            5  27.182818  2718.281828
9  28          5            5  29.901100  2990.110011

## Cambiar el nombre de una columna

In [30]:
df.columns

Index([0, 'nueva_col', 'experiencia', 'perdidas', 'columna'], dtype='object')

In [31]:
df.columns = ['codigo_id', 'años_exp', 'indice', 'eficiencia', 'eficiencia_agregada']
df

   codigo_id  años_exp  indice  eficiencia  eficiencia_agregada
0          0         5       5    5.436564           543.656366
1         49         5       5    8.154845           815.484549
2         44         5       5   10.873127          1087.312731
3          0         5       5   13.591409          1359.140914
4          4         5       5   16.309691          1630.969097
5         40         5       5   19.027973          1902.797280
6         24         5       5   21.746255          2174.625463
7         16         5       5   24.464536          2446.453646
8         32         5       5   27.182818          2718.281828
9         28         5       5   29.901100          2990.110011

In [32]:
df['codigo_id']

0     0
1    49
2    44
3     0
4     4
5    40
6    24
7    16
8    32
9    28
Name: codigo_id, dtype: int64

## Modificar una columna

In [33]:
df['indice'] = df['indice'] / 200

df

   codigo_id  años_exp  indice  eficiencia  eficiencia_agregada
0          0         5   0.025    5.436564           543.656366
1         49         5   0.025    8.154845           815.484549
2         44         5   0.025   10.873127          1087.312731
3          0         5   0.025   13.591409          1359.140914
4          4         5   0.025   16.309691          1630.969097
5         40         5   0.025   19.027973          1902.797280
6         24         5   0.025   21.746255          2174.625463
7         16         5   0.025   24.464536          2446.453646
8         32         5   0.025   27.182818          2718.281828
9         28         5   0.025   29.901100          2990.110011

## Eliminar una columna o una fila

In [34]:
del df['eficiencia']

df

   codigo_id  años_exp  indice  eficiencia_agregada
0          0         5   0.025           543.656366
1         49         5   0.025           815.484549
2         44         5   0.025          1087.312731
3          0         5   0.025          1359.140914
4          4         5   0.025          1630.969097
5         40         5   0.025          1902.797280
6         24         5   0.025          2174.625463
7         16         5   0.025          2446.453646
8         32         5   0.025          2718.281828
9         28         5   0.025          2990.110011

In [35]:
# 0 elimina las filas y 1 elimina las columnas
c = df.drop([2,3,5], axis=0)
c

   codigo_id  años_exp  indice  eficiencia_agregada
0          0         5   0.025           543.656366
1         49         5   0.025           815.484549
4          4         5   0.025          1630.969097
6         24         5   0.025          2174.625463
7         16         5   0.025          2446.453646
8         32         5   0.025          2718.281828
9         28         5   0.025          2990.110011

In [36]:
df

   codigo_id  años_exp  indice  eficiencia_agregada
0          0         5   0.025           543.656366
1         49         5   0.025           815.484549
2         44         5   0.025          1087.312731
3          0         5   0.025          1359.140914
4          4         5   0.025          1630.969097
5         40         5   0.025          1902.797280
6         24         5   0.025          2174.625463
7         16         5   0.025          2446.453646
8         32         5   0.025          2718.281828
9         28         5   0.025          2990.110011

In [37]:
# axis = 0 elimina las filas y axis = 1 elimina las columnas
# inplace = eliminar los datos del dataframe original
df.drop(['indice'], axis=1, inplace = True)

df.head()

   codigo_id  años_exp  eficiencia_agregada
0          0         5           543.656366
1         49         5           815.484549
2         44         5          1087.312731
3          0         5          1359.140914
4          4         5          1630.969097

In [38]:
df

   codigo_id  años_exp  eficiencia_agregada
0          0         5           543.656366
1         49         5           815.484549
2         44         5          1087.312731
3          0         5          1359.140914
4          4         5          1630.969097
5         40         5          1902.797280
6         24         5          2174.625463
7         16         5          2446.453646
8         32         5          2718.281828
9         28         5          2990.110011

## Modificar el indice

In [39]:
i = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df.index = i

df

   codigo_id  años_exp  eficiencia_agregada
a          0         5           543.656366
b         49         5           815.484549
c         44         5          1087.312731
d          0         5          1359.140914
e          4         5          1630.969097
f         40         5          1902.797280
g         24         5          2174.625463
h         16         5          2446.453646
i         32         5          2718.281828
j         28         5          2990.110011

In [42]:
df['codigo_id'].mean()

23.7

In [43]:
df['codigo_id'].sum()

237

In [44]:
df['codigo_id'].min()

0

In [45]:
df['codigo_id'].max()

49