<a href="https://colab.research.google.com/github/TomasOtano25/python-basic/blob/main/11_8_Muestras_aleatorias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11.8 Muestras aleatorias

In [5]:
import numpy as np
import pandas as pd

In [8]:
def CrearDataSet(Num=1):

  Output = []

  for i in range(Num):

    # Crear un ranfo de fechas semanal (De lunes a lunes)
    rng = pd.date_range(start='1/1/2016', end='12/31/2020', freq='W-MON')

    # Crear valores aleatorios
    data = np.random.randint(low=25, high=1000, size=len(rng))

    # Estatus posibles

    status = [1, 2, 3]

    # Lista de estatus aleatorios
    random_status = [status[np.random.randint(low=0, high=len(status))] for i in range(len(rng))]

    # Locales posibles
    states = ['Libertador', 'El Hatillo', 'El hatillo', 'Chacao', 'Baruta', 'Sucre']

    #Crear una lista aleatoria de locales
    random_states = [states[np.random.randint(low=0, high=len(states))] for i in range(len(rng))]

    Output.extend(zip(random_states, random_status, data, rng))

  return Output

In [9]:
dataset = CrearDataSet(4)
df = pd.DataFrame(data=dataset, columns=['Local', 'Estatus_local', 'Cantidad_Clientes', 'Fecha_Status'])

df

           Local  Estatus_local  Cantidad_Clientes Fecha_Status
0     Libertador              2                205   2016-01-04
1     El hatillo              2                 80   2016-01-11
2     Libertador              2                883   2016-01-18
3     Libertador              1                896   2016-01-25
4     El hatillo              3                467   2016-02-01
...          ...            ...                ...          ...
1039  El Hatillo              3                430   2020-11-30
1040      Baruta              1                679   2020-12-07
1041       Sucre              1                126   2020-12-14
1042       Sucre              3                379   2020-12-21
1043       Sucre              1                960   2020-12-28

[1044 rows x 4 columns]

## np.random.choice()

### Esta funcion extrae una muestra aleatoria a partir de un array unidimensional

In [11]:
filas = np.random.choice(df.index, 10, replace=False) # replace: determina si hay valores repetidos
filas

array([  26,  250, 1009,  617,  787,  445,  675,  149,  724,  858])

In [12]:
df.loc[filas]

           Local  Estatus_local  Cantidad_Clientes Fecha_Status
26    El hatillo              1                205   2016-07-04
250   El Hatillo              3                887   2020-10-19
1009  El Hatillo              1                551   2020-05-04
617        Sucre              2                244   2017-10-30
787        Sucre              2                767   2016-02-01
445       Chacao              3                124   2019-07-15
675       Chacao              3                829   2018-12-10
149       Chacao              1                416   2018-11-12
724        Sucre              2                458   2019-11-18
858   Libertador              1                382   2017-06-12